catboost_info/
datasets/
images/
.jpg
.md
.cache
.yaml
*.tfevents.*
runs/
yolov8n.pt
yolov8x.pt
df.json
vocab_coco.file
tmp.jpg
save/
test_meta.csv
train_meta.csv
.tif
train_img/
train_mask/
train_output/
dataset.zip
test_img/
.csv
dacon/income/output/
dacon/tuning/output/
.pyc
temp123/
test/__pycache__/
dacon/bird/output/
dacon/bird/test/
dacon/bird/train/
dacon/bird/upscale_train/
open.zip
sample_submission.csv
test.csv
train.csv
checkpoint.pt
ControlNet/
ControlNet-main.zip
project/Final_preject/Grounded-Segment-Anything-main/
project/Final_preject/IOPaint-main/
project/group_project/yolov5s.pt
project/group_project/hoon/자료/다운로드.jpg
project/group_project/features.npy
project/group_project/hoon/자료/이미지 캡셔닝 구조.jpg
project/group_project/hoon/자료/screen1.png
project/group_project/hoon/자료/전체구조디테일.txt
project/group_project/hoon/자료/최종발표.txt
project/group_project/hoon/자료/Attention
project/group_project/hoon/자료/AttentionIsAllYouNeed.txt
project/group_project/hoon/자료/imageCaptioning.txt
project/group_project/hoon/자료/projectPlan.txt
project/group_project/hoon/자료/transformer.txt
project/group_project/hoon/자료/용어정리.txt
project/group_project/hoon/자료/전체 구조.txt
project/group_project/hoon/자료/전체구조2.txt
