catboost_info/
datasets/
images/
.jpg
.md
.cache
.yaml
*.tfevents.*
runs/
yolov8n.pt
yolov8x.pt
df.json
vocab_coco.file
tmp.jpg
save/
test_meta.csv
train_meta.csv
.tif
train_img/
train_mask/
train_output/
dataset.zip
test_img/
.csv
dacon/income/output/
dacon/tuning/output/
.pyc
